@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$clr-primary-1: hsl(238, 29%, 16%);
$clr-primary-2: hsl(14, 88%, 65%);

$clr-secondary-1: hsl(237, 12%, 33%);
$clr-secondary-2: hsl(240, 6%, 50%);

$clr-neutral-1: hsl(0, 0%, 100%);
$clr-neutral-2: hsl(273, 75%, 66%);
$clr-neutral-3: hsl(240, 73%, 65%);
$clr-neutral-4: hsl(240, 5%, 91%);

$ff-accent: "Kumbh Sans", sans-serif;

$fw-400: 400;
$fw-700: 700;

@mixin text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
@mixin text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: $fw-500;
}
@mixin text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
